.avatar
	font-family RobotoCondensedLight
	display -webkit-flex
	display -ms-flex
	display flex
	align-items center
	justify-content center
	width 42px
	height 42px
	background-color #fff
	border-radius 50%
	color alpha($mainDarkColor, .9)
	flex-shrink 0


	&--message
		border 2px solid alpha(#2B2B25, .43)
		color alpha(#2B2B25, .7)

	&--message-input
		background-color rgba(0, 0, 0, 0.6);
		color #fff
		margin-right 10px
