.chat-container
	width calc(100% - 24px)
	height calc(100vh - 20px)
	padding 20px
	transition all ease .4s

	&--translated
		margin-left 240px
		width calc(100% - 264px)

	&__top-line
		display -webkit-flex
		display -ms-flex
		display flex
		align-items center
		position relative
		left -20px

	&__top-line--left-part
		display -webkit-flex
		display -ms-flex
		display flex
		align-items center
		flex-grow 1
