.hello-container
	background-color $mainLightColor
	height calc(100vh - 60px)
	overflow hidden
	padding 20px

	&__form
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
