.message-input
	position fixed
	padding 0 20px
	bottom 0px
	left 0
	background-color #fff
	min-height 60px
	width 100%
	display -webkit-flex
	display -ms-flex
	display flex
	align-items center
	justify-content space-between

	&__send
		position relative
		left -26px
